services:
  # Layanan web
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  # Layanan Database
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: website_pemesanan
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3306:3306"